<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #serverName>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Technology</button>
      <button class="btn btn-success" (click)="save()">Save</button>
      <button class="btn btn-success" (click)="getData()">Get Data</button>
      <hr>
      <ul class="list-group" *ngFor="let technology of technologies">
        <li class="list-group-item">{{ technology.name }} (ID: {{ technology.id }})</li>
      </ul>
    </div>
  </div>
</div>
